absl-py==0.8.0
adjustText==0.7.3
altair==3.2.0
appnope==0.1.0
argh==0.26.2
astroid==2.2.5
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
backports.functools-lru-cache==1.5
base58==1.0.3
beautifulsoup4==4.8.0
bleach==3.1.4
blis==0.2.4
boto3==1.9.243
botocore==1.12.243
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
compare-mt==0.2.6
confuse==1.0.0
cycler==0.10.0
cymem==2.0.2
decorator==4.4.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.15.2
editdistance==0.5.3
en-core-web-sm==2.1.0
entrypoints==0.3
enum-compat==0.0.2
epitran==1.1
flake8==3.7.9
future==0.17.1
htmlmin==0.1.12
idna==2.8
importlib-metadata==0.23
indic-transliteration==1.8.8
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
jedi==0.15.1
Jinja2==2.11.3
jmespath==0.9.4
joblib==0.14.0
jsonschema==2.6.0
jupyter-client==5.3.3
jupyter-core==4.5.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
llvmlite==0.29.0
marisa-trie==0.7.5
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
more-itertools==7.2.0
munkres==1.1.2
murmurhash==1.0.2
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
neuralcoref==4.0
nltk==3.4.5
notebook==6.0.1
numba==0.45.1
numpy==1.17.0
packaging==19.2
pandas==0.25.1
pandas-profiling==2.3.0
pandocfilters==1.4.2
panphon==0.15
parso==0.5.1
pathtools==0.1.2
pep8==1.7.1
pexpect==4.7.0
phik==0.9.8
pickleshare==0.7.5
pigar==0.9.2
Pillow==6.2.0
plac==0.9.6
plotly==4.1.1
pluggy==0.13.0
portalocker==1.5.1
praw==6.3.1
prawcore==1.0.1
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
psaw==0.0.7
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.2
pyreqs==0.1.1
pyrsistent==0.15.4
pytest==5.2.0
pytest-pylint==0.14.1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
regex==2019.8.19
requests==2.22.0
retrying==1.3.3
rope==0.14.0
s3transfer==0.2.1
sacrebleu==1.4.1
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
sh==1.12.14
six==1.12.0
sklearn==0.0
soupsieve==1.9.3
spacy==2.1.0
splinter==0.11.0
srsly==0.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
toolz==0.10.0
torch==1.3.0
torchvision==0.4.1
tornado==5.1.1
tqdm==4.35.0
traitlets==4.3.2
typed-ast==1.4.0
typing==3.7.4.1
tzlocal==2.0.0
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.25.3
validators==0.14.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
widgetsnbextension==3.5.1
wiki-dump-parser==2.0.0
wikipedia==1.4.0
Wikipedia-API==0.5.2
wrapt==1.11.2
zipp==0.6.0
